<!DOCTYPE html>
<html lang="{{ metadata.language or 'en' }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ description or excerpt or metadata.description }}">
  
  <meta property="og:title" content="{{ title or metadata.title }} &bull; {{ metadata.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
  <meta property="og:image" content="{{ metadata.image }}">
  <meta property="og:description" content="{{ description or excerpt or metadata.description }}">
  
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ metadata.twitter }}">
  <meta name="twitter:title" content="{{ title or metadata.title }} &bull; {{ metadata.title }}">
  <meta name="twitter:description" content="{{ description or excerpt or metadata.description }}">
  <meta name="twitter:image" content="{{ metadata.image }}">
  
  {% if metadata.typekit -%}
  <link rel="stylesheet" href="https://use.typekit.net/{{ metadata.typekit }}.css">
  {% endif -%}
  <link rel="stylesheet" href="/css/style.css">
  
  <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
</head>
<body>
  {{ content | safe }}
</body>
</html>
